<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>todo-app</title>
</head>

<body>
    <h1>Today is <%=day%></h1>

    <% if(weektype === "Weekend"){ %>
        <h1 class="weekend"><%=weektype %></h1>
    <% }else{ %>
        <h1 class="weekday"><%=weektype %></h1>
    <% } %>

    <br>

    <form action="/" method="post">
        <h1>Todo list</h1>
        <ul>
            <% items.forEach(element=> { %>
                <li>
                    <%=element%>
                </li>
                <% }); %>
        </ul>
        <input type="text" name="itemName" placeholder="Enter the item">
        <button type="submit">Add</button>
    </form>
</body>

</html>